@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');

:root {
    --font-family: 'Prompt', sans-serif;
}

.p_12 {
    padding: 12px;
}

.txtali_r {
    text-align: right;
}

.containers {
    min-height: 90vh;
    background: linear-gradient(to right, rgb(10, 39, 136), rgba(37, 117, 252, 1));
    display: flex;
    justify-content: center;
}

.container_login {
    margin: 20px auto;
    width: 30%;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    background-color: #eee;
}

.login-form {
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin: 3rem 0 1rem 0;
}

.txt_des {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #777777;
    margin-bottom: 3rem;
}

.input-focus-effect {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.input-focus-effect input {
    padding: 1rem 1rem;
    border: 1px solid #C0C0C0;
    display: block;
    border-radius: 8px;
    /* transition: border 0.25s linear; */
    background-color: transparent;
    outline: none;
    color: #000;
    font-size: 14px;
}

.mb_15 {
    margin-bottom: 15px;
}

.input-focus-effect input:focus {
    border-color: #0064d6;
}

.input-focus-effect input:focus+label,
.input-focus-effect input:not(:placeholder-shown)+label {
    transform: translateY(-5px);
    top: 1rem;
}

.input-focus-effect label {
    position: absolute;
    margin-top: -5px;
    left: 1rem;
    transform: translateY(-50%);
    /* pointer-events: none; */
    color: #000;
    /* transition: 0.25s linear; */
    font-size: 1.2rem;
    font-family: var(--font-family);
}


.button_login {
    font-family: var(--font-family);
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #00a3f8;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    border: 1px solid #C0C0C0;
    border-radius: 8px;
    /* position: relative; */
    /* isolation: isolate; */
}

/* 
.button_login:before {
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0064d6;
    z-index: -1;
    transition: height 0.25s ease-in;
} */

/* .button_login:hover:before {
    height: 100%;
} */

.or_group {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3px 0;
}

.or-line {
    background: #ddd;
    flex-grow: 1;
    height: 1px;
}

.or-text {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: #AFAFAF;
    flex-grow: 0;
    padding: 0 8px;
    font-family: var(--font-family);
}

.button_google {
    font-family: var(--font-family);
    color: #fefefe;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #dd4b39;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    border: 1px solid #C0C0C0;
    font-size: 16px;
    /* position: relative;
    isolation: isolate; */
    width: 100%;
    margin: 15px 0 10px 0;
    border-radius: 8px;
}

.mr_10 {
    margin-right: 10px;
}

.button_facebook {
    font-family: var(--font-family);
    color: #fefefe;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #3b5998;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    border: 1px solid #C0C0C0;
    font-size: 16px;
    position: relative;
    isolation: isolate;
    width: 100%;
    border-radius: 8px;
}

.btn_auth {
    width: 100%;
    margin: 20px 0 30px 0;
}

.form_auth {
    margin: 10px;
}

.btn_register {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    color: #6078bc;
}

.have-no-account {
    margin-top: 22px;
    font-size: 15px;
    font-family: var(--font-family);
    color: #4C4C4C;
    text-align: center;
}

.have-no-account span {
    margin-right: 5px;
}

.have-no-account a {
    text-transform: uppercase;
    color: #00a3f8;
}

/*PC*/
@media (min-width: 1024px) {
    .containers {
        min-height: 60vh;
        background: linear-gradient(to right, rgb(10, 39, 136), rgba(37, 117, 252, 1));
        display: flex;
        justify-content: center;
    }

    .container_login {
        margin: 20px auto;
        width: 40%;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        background-color: #eee;
    }

    .login-form {
        font-family: var(--font-family);
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        margin: 2rem 0 1rem 0;
    }

    .txt_des {
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #777777;
        margin-bottom: 3rem;
    }

    .input-focus-effect input {
        padding: 1rem 1rem;
        border: 1px solid #C0C0C0;
        display: block;
        border-radius: 8px;
        background-color: transparent;
        outline: none;
        color: #000;
        font-size: 22px;
    }

    .button_login {
        font-family: var(--font-family);
        color: #fff;
        padding: 12px;
        text-transform: uppercase;
        background-color: #00a3f8;
        cursor: pointer;
        font-weight: 700;
        font-size: 20px;
        outline: none;
        border: 1px solid #C0C0C0;
        border-radius: 8px;
    }

    .or-text {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: #AFAFAF;
        flex-grow: 0;
        padding: 0 8px;
        font-family: var(--font-family);
    }

    .button_google {
        font-family: var(--font-family);
        color: #fefefe;
        padding: 12px;
        text-transform: uppercase;
        background-color: #dd4b39;
        cursor: pointer;
        font-weight: 700;
        outline: none;
        border: 1px solid #C0C0C0;
        font-size: 20px;
        width: 100%;
        margin: 12px 0 10px 0;
        border-radius: 8px;
    }

    .button_facebook {
        font-family: var(--font-family);
        color: #fefefe;
        padding: 12px 30px;
        text-transform: uppercase;
        background-color: #3b5998;
        cursor: pointer;
        font-weight: 700;
        outline: none;
        border: 1px solid #C0C0C0;
        font-size: 20px;
        position: relative;
        isolation: isolate;
        width: 100%;
        border-radius: 8px;
    }

    .have-no-account {
        margin-top: 22px;
        font-size: 18px;
        font-family: var(--font-family);
        color: #4C4C4C;
        text-align: center;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .containers {
        min-height: 93vh;
        background: linear-gradient(to right, rgb(10, 39, 136), rgba(37, 117, 252, 1));
        display: flex;
        justify-content: center;
    }

    .container_login {
        margin: 20px auto;
        width: 60%;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        background-color: #eee;
    }
}

/* Mobile */
@media (max-width: 740px) {
    .login-form {
        font-family: var(--font-family);
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        margin: 1rem 0 1rem 0;
    }

    .txt_des {
        font-family: var(--font-family);
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #777777;
        margin-bottom: 2rem;
    }

    .containers {
        min-height: 95vh;
        background: linear-gradient(to right, rgb(10, 39, 136), rgba(37, 117, 252, 1));
        display: flex;
        justify-content: center;
    }

    .container_login {
        min-height: 85vh;
        margin: 20px auto;
        width: 80%;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        background-color: #eee;
    }

    .button_google {
        font-size: 13px!important;
    }

    .button_facebook {
        font-size: 12px!important;
    }

    .btn_auth {
        width: 100%;
        margin: 20px 0 20px 0;
    }

    .have-no-account {
        font-size: 14px!important;
    }
}


/* -------------------------- */
/* .container {
    display: flex;
      border:1px solid red;
    height: 100%;
    align-items: center;
} */

/* svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #252627;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #F2EFE9;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #904E55;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #564E58;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #BFB48F;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
} */